.form {
  overflow: hidden;
}

.form-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 21px;
}

.form .field {
  margin-bottom: 20px;
}
.form > div > label {
  display: block;
  margin-bottom: 6px;
}

.form-new-order__search .btn {
  padding: 8px 36px 8px 26px;
}
.form-new-order__search .icon-search-primary {
  margin-right: 10px;
}

.form-new-order__product-info .field:nth-of-type(2) {
  padding: 0 16px;
}

.form-actions_fields {
  gap: 0 16px;
}

/* DESKTOP */
@media only screen and (min-width: 769px) {
  .form > .btn-primary {
    float: right;
  }

  .form-new-order__search .field input {
    max-width: 348px;
    width: 60%;
    margin-right: 16px;
  }

  .form-actions > .row {
    justify-content: space-between;
  }
}

/* TABLET  */
@media only screen and (max-width: 768px) {
  .form .form-title {
    text-align: center;
  }

  .form > .btn-primary {
    display: block;
    margin: 0 auto;
  }

  .form-new-order__product-type {
    text-align: center;
  }

  .form-new-order__search .field input {
    margin-bottom: 10px;
  }
  .form-new-order__product-info .field:nth-of-type(2) {
    padding: 0;
  }

  .form-actions_fields {
    justify-content: space-between;
  }
  .form-actions_fields .field {
    max-width: 46%;
  }
}

@media only screen and (max-width: 600px) {
  .form-actions > .row {
    justify-content: space-between;
  }
}
