.page {
  padding: 20px 24px 0 24px;
}
.page .form-new-order,
.page .form-add-order {
  margin-bottom: 20px;
}

/* TABLET */
@media only screen and (max-width: 768px) {
  .page {
    padding: 20px 10px 0 10px;
  }
}
